.header-sec2 > li:nth-child(3) {
    background-color: #dc2626;
    color: #fff;
}

.header-sec2 >li:nth-child(3) > a {
    color:#fff ;
}

main{ 
    background-color: chartreuse;
    width: 80%;
    margin: 1rem auto;
}