.header-sec2 > li:nth-child(2) a {
    background-color: #dc2626;
    color: #fff;
}

.header-sec2 >li:nth-child(2) > a {
    color:#fff ;
}

.container-titulo {
    background:linear-gradient(90deg,#1b1717,#1b1717,#630000);
    padding: 5rem;
}

.container-titulo > h1 {
    font-size: 4rem;
}

.container-titulo > p {
    font-size: 1.5rem;
}

/* Styles pagina piloto */

.carro-mc { background: linear-gradient(90deg, #863400 ,#F47600, #ff9900);}
.carro-mer{background:linear-gradient(90deg,#007560,#00c29e,#00D7B6) ;}
.carro-fr{background:linear-gradient(90deg,#710006 ,#b80e27,#ED1131) ;}
.carro-red{background:linear-gradient(90deg,#003282,#003282) ;}
.carro-will{background:linear-gradient(90deg,#000681,#000563) ;}
.carro-rac{background:linear-gradient(90deg,#1c3687,#2345AB) ;}
.carro-ast{background:linear-gradient(90deg,#00482C,#229971) ;}
.carro-kick{background:linear-gradient(90deg,#006300,#01C00E) ;}
.carro-haas{background:linear-gradient(90deg,#4D5052,#9C9FA2) ;}
.carro-alp{background:linear-gradient(90deg,#005081,#00A1E8) ;}

.carro-mc >div:nth-child(2) > img { background-color:#ff9900 ;}
.carro-mer >div:nth-child(2)> img{background-color:#00D7B6 ;}
.carro-fr >div:nth-child(2)> img{background-color:#ED1131 ;}
.carro-red >div:nth-child(2)> img{background-color:#003282 ;}
.carro-will >div:nth-child(2)> img{background-color:#000563 ;}
.carro-rac >div:nth-child(2)> img{background-color:#2345AB ;}
.carro-ast >div:nth-child(2)> img{background-color: #229971 ;}
.carro-kick >div:nth-child(2)> img{background-color: #229971;}
.carro-haas >div:nth-child(2)> img{background-color:#9C9FA2 ;}
.carro-alp >div:nth-child(2)> img{background-color:#00A1E8 ;}


.container-equipes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 0 2rem;
}

.container-equipes >div{
    border: 1px solid #131313;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 90%;
}

.equipe-titulo{
    display:  grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.equipe-titulo > h3{
    font-family: Courier New,Courier,monospace;
    text-wrap: nowrap;
    font-size: 2rem;
}

.equipe-titulo > img {
    background-color: #3f3c3c99;
    justify-self: end;
    width: 10%;
    border-radius: 50%;
    padding:0.5rem ;
}

.equipe-pilotos >img  {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    border-radius: 50%;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
    /* Ao definir altura e comprimento, ja que imagem nao corresponde a proporção ele faz corte da imagem e o object positivo top faz que esse corte comece em cima  */
    object-fit: cover; 
    object-position: top;
}

.equipe-pilotos > span {
    text-transform: capitalize;
    color:#e0dedc;
}

.equipe-pilotos  strong {
    text-transform:uppercase;
    color: #fff;
}

.imagem-carro {
    margin-top: 2rem;
    width: 70%;
}



@media (max-width:1100px) {

    .container-equipes >div{
    padding: 1rem;
}
    
    .equipe-pilotos {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
    }

    .equipe-pilotos >span {
        font-size: 1rem;
    }
}


@media (max-width:780px) {
    .container-equipes >div{
        padding: 0.5rem;
}
 
.equipe-titulo > h3 {
    font-size: 1.5rem;
}

.equipe-pilotos >span {
        font-size: 0.8rem;
    }

}


@media (max-width:560px) {
    .container-equipes {
        grid-template-columns: 1fr;
    }

    .container-equipes > div {
        padding: 1rem;
        width: 95%;
    }

.container-titulo {
    text-align: center;
}

.container-titulo > h1 {
    font-size: 2rem;
    text-wrap: nowrap;
}

.container-titulo > p {
    font-size: 0.6rem;
}
}

